{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "mocha": true
    },
    "extends": [
        "standard"
    ],
    "plugins": [ "eslint-plugin-html" ],
    "parserOptions": {
         "ecmaVersion": 13
    },
    "rules": {
        "indent": ["error", 4]
    }
}